*{
    margin:0;
    padding:0;
    box-sizing:0;
    list-style:none;
    text-decoration:none;
}

body{
    color:black;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}

.cart{
    position:fixed;
    top:0;
    right:-100%;
    width:300px;
    min-height:100vh;
    padding:20px;
    background-color: white;
    transition: 0.3s;
}

.cart.active{
    right: 0;
    border:2px solid black;
}

.cart-title{
    text-align: center;
    margin-top:50px;
    background-color: black;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    padding:30px 30px;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 20%;
    align-items: center;
    gap:1rem;
    margin-top: 50px;
}

.cart-image{
    width:100px;
    height:100px;
    object-fit: contain;
    padding: 10px 10px ;
}

.details-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-brand{
    font-size: larger; 
}

.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border:1px solid black;
    width:2.4rem;
    text-align:center;
    font-size: larger;
}

.cart-remove{
    font-size:larger;
    color: red;
    cursor: pointer;
}

.total-title{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    border-top: 1px solid black;
}

.total-price{
    margin-left:10rem;
}

.buy-button{
    display: flex;
    margin:1.5rem auto 0 auto;
    padding: 10px 20px;
    border: none;
    background: red;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.buy-button:hover{
    background: rgb(194, 228, 144);
    color:black;
}

#close-cart{
    position: relative;
    top:1rem;
    right:0.8rem;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}


section{
    padding:4rem 0 3rem;
}

.section-title{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
    margin: 10px 10px;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    margin:50px 50px;
    z-index: 99999;
}

.pro{
    position:relative;
    margin:50px 50px;
}

.pro:hover{
    padding: 10px;
    border:1px solid black;
    transition: 0.4s;
}

.pro img{
    position: relative;
    width:100%;
    height:auto;
}

.item-brand{
    font-size:larger;
    font-weight: bold;
    text-transform: uppercase;
}

.item-desc{
    font-size:larger;
    font-weight:bold;
    font-style: italic;
}

.item-price{
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.add-cart{
    position:absolute;
    bottom:0;
    right:0;
    font-size: xx-large;
    font-weight: bolder;
    background:black;
    color:white;
    padding:3px 3px;
    cursor: pointer;
}

.add-cart:hover{
    background: gold;
    color: black;
    
}

@media(max-width:1080px)
{
    .nav{
        padding :15px;
    }
    section{
        padding:3rem 0 2rem;
    }
    .container{ 
        margin:0 auto;
        width:90%;
    }
}
